{%  extends "usuarios/base.html" %}
{% block conteudo %}
    <div class="container">
        <table class="Table table-bordered table-striped">
            <tr>
                <th>id</th>
                <th>nome</th>
                <th>idade</th>
            </tr>
            {% for usuario in usuarios %}
            <th>
                <td>{{usuario.id_usuario}}</td>
                <td>{{usuario.nome}}</td>
                <td>{{usuario.idade}}</td>
            </th>
            {% endfor %}
        </table>
    </div>
{% endblock %}